.header{
    background: url(../../assets/headerbg.png);
    background-color: #FFF9F7;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
    padding-top:3rem;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:3rem;
}

.circleradiusdiv {
    border-radius: 29px;
    background: #ffffff;
    display: flex;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    width: 10.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.86rem;
    font-family: "Jost", sans-serif;
    color: #515151;
    font-weight: 600;
    display: flex;
    gap:0.3rem;
  }
  .paragraph{
    font-size: 0.81rem;
    font-family: "Jost", sans-serif;
    color: #515151;
    width:95%;
  }



 
@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 

    .paragraph{
        font-size: 0.81rem;
        font-family: "Jost", sans-serif;
        color: #515151;
        width:45%;
      }
      .header{
        padding-left:7%;
        padding-right:7%;
      
    }
 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    .header{
        padding-left:8%;
        padding-right:8%;
      
    }
 }


@media (min-width: 1400px) { 
    .header{
        padding-left:11%;
        padding-right:11%;
      
    }
 }
  